<p>
    Ваша реєстрація для участі у конференції пройшла успішно.
    <br/> Дякуємо за Вашу увагу!
</p>
<p>
    Контактна інформація.
</p>
<table>
    <tr>
        <td>
            Організаційний комітет: Телефон кафедри
            <br/>+38 (057)707-68-24
            <br/> Мобільний
            <br/> +38 (050)615-32-12
            <br/> E-maіl
            <br/> imconf@gmail.com
        </td>
        <td>
            Програмний комітет:
            <br/> Телефон кафедри
            <br/> +38 (057)707-68-24
            <br/> Мобільний
            <br/> +38(050)984-69-79
            <br/> E-maіl
            <br/> publish.conf@gmail.com
        </td>
    </tr>
</table>
<p>
    Your registration for the conference was successful.
    <br/> Thank you for your attention!
</p>
<p>
    Contacts:
</p>
<table>
    <tr>
        <td>
            Organising Committee:
            <br/> Office phone
            <br/>+38 (057) 707-68-24
            <br/> mobile
            <br/> +38 (050) 615-32-12
            <br/> E-mail
            <br/> imconf@gmail.com
        </td>
        <td>
            Program Committee:
            <br/> Office phone
            <br/> +38 (057) 707-68-24
            <br/> mobile
            <br/>+38 (050) 984-69-79
            <br/> E-mail
            <br/> publish.conf@gmail.com
        </td>
    </tr>
</table>